<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'/>
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <title>فروشگاه یکتا</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-rtl.min.css">
    <link rel="stylesheet" href="/css/vazir.css">
    <link rel="stylesheet" href="/css/home.css">

</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container"><a class="navbar-brand" href="#">سایت فروشگاهی</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExample04">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">صفحه اصلی <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">محصولات</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown04">
                        <a class="dropdown-item" href="#">شبکه</a>
                        <a class="dropdown-item" href="#">سی آر ام</a>
                        <a class="dropdown-item" href="#">ویپ</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contactUs">تماس با ما</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/aboutUs">درباره ما</a>
                </li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a class="btn btn-success btn-sm ml-2" href="/login">ورود</a></li>
                <li><a class="btn btn-info btn-sm ml-0" href="/register">ثبت نام</a></li></ul>
        </div>
    </div>
</nav>
